@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


header,
main,
footer {

    margin: 0px auto;
    border: 1px solid #ccc;
    padding: 1rem;
    font-family: sans-serif;
}

header {
    color: white;
    background-color: #3f7cc4;
    margin-bottom: 0px;
}

#title {
    font-family: "Nunito", sans-serif;
}

#gallery-heading {
    font-family: "Cabin", sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
}

main {
    background-color: lightgray;
}

footer {
    background-color: #3f7cc4;
    color: white;
    text-align: center;
}

main p {
    text-align: center;
    font-size: larger;
}

#picGallery {
    display: grid;
    grid-template-columns: 1fr;
}

figure img {
    border: 4px solid white;
    outline: 1px solid #999;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    margin: 10px auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2 {
    text-align: center;
}

header nav {

    justify-content: center;

}

nav {
    display: none;
    text-align: right;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: white;
}

nav a:hover {
    color: #616061;
}

.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-btn {
    display: block;
    margin: 0 auto;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

/* modal */
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
}

.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}


@media screen and (min-width: 890px) {

    #picGallery {
        grid-template-columns: 1fr 1fr;
    }

    header,
    main {
        font-size: 1.5em;
    }

}

@media screen and (min-width: 1350px) {

    #picGallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    header,
    main h2 {
        font-size: 2em;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #menu-btn {
        display: none;
    }

    nav.open {
        flex-direction: row;
    }

}